@import "dark.css";

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8333rem;
  font-family: Tahoma, Helvetica, Arial, Verdana;
  background-image: linear-gradient(45deg, #bbbbbb 25%, #b5b5b5 25%, #b5b5b5 50%, #bbbbbb 50%, #bbbbbb 75%, #b5b5b5 75%, #b5b5b5 100%);
  background-size: 100px 100px;
  margin: 0 auto;
  color: black;
}

hr {
  border: 1px solid #ccc;
  border-bottom: none;
}

.header {
  height: 90px;
  background-image: linear-gradient(135deg, #f1f1f1 25%, #ffffff 25%, #ffffff 50%, #f1f1f1 50%, #f1f1f1 75%, #ffffff 75%, #ffffff 100%);
  background-size: 10px 10px;
  position: relative;
  border-bottom: 2px solid #bd0000;
}

.header .header-links {
  margin-right: 10px;
}

.header .header-link {
  float: left;
  margin-right: 5px;
}

.header .header-icon {
  float: left;
}

.header .header-link.chat {
  float: right;
}

.header .gradient {
  width: 100%;
  height: 100%;
  float: right;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%);
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.header .logo {
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 1;
  height: 100%;
}

.header .breadcrumb {
  padding-top: 13px;
  margin-left: 244px;
  height: 50px;
}

.header .title {
  font-size: 1.125rem;
  text-shadow: 1px 1px 2px #aaa;
  padding-left: 32px;
}

.footer {
  height: 50px;
  background-color: #26f;
  color: white;
  padding: 20px;
}

.footer a {
  color: white;
}

.footer .footer-links {
  float: right;
  text-align: right;
}

.footer .big {
  font-size: 1.125rem;
  font-weight: bolder;
}

.content-inner {
	margin: 12px;
  overflow: hidden;
}

.content-inner table {
  background-color: white;
  border-spacing: 0;
  width: 100%;
}

.content-inner thead {
  background-color: #2288ff;
  color: white;
}

.content-inner tbody tr {
}

.content-inner tbody td {
  border-bottom: 1px solid #ccc;
}

.content-inner thead td {
  padding: 4px 0;
}

a {
  color: #147;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pagination {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

.forum-above {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forum-above .pagination {
  display: inline-block;
}

.pagination span {
  border: 1px solid #888;
  border-left-width: 0;
  border-right-width: 1px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination a {
  padding: 6px 5px;
  color: #417394;
  height: 30px;
}

.pagination span:first-of-type {
  border-left-width: 1px;
  background-color: #2288ff;
}

.pagination span:first-of-type a {
  color: white;
}

.pagination .selected {
  font-weight: bold;
  background-color: #f5f5f5;
}

.pagination .selected a {
  color: #444;
}

.small {
  font-size: 0.625rem;
}

.spoiler {
  color: black;
  background-color: black;
}

.spoiler:hover {
  color: white;
}

.spoiler img {
  filter: brightness(0);
}

.spoiler img:hover {
  filter: brightness(1);
}

div.thread-icon {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #0004;
  position: relative;
  width: 58px;
  height: 13px;
  overflow: hidden;
  background-position-x: 51%;
  background-position-y: 51%;
  background-size: 10000%;
  display: inline-block;
  image-rendering: crisp-edges;
  z-index: 0;
}

div.thread-icon::after {
  background-color: #ff0;
  opacity: 0.6;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  mix-blend-mode: saturation;
}

.thread-icon-custom {
  width: 60px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  outline: 1px solid #0004;
  outline-offset: -1px;
}

.thread-icon .text-container {
  margin-left: 24px;
  margin-right: 1px;
  height: 13px;
}

.thread-icon .text-bit {
  display: inline-block;
  transform-origin: top left;
  mix-blend-mode: difference;
  color: #ff0;
}

.thread-icon img {
  position: absolute;
  top: -3px;
}

.header .authenticated-box {
  float: right;
  margin-right: 15px;
}

.header .header-username {
  font-weight: bold;
}

.error {
  color: red;
}

.ban-box {
  margin: 10px auto;
  width: 540px;
  background-color: #ffffcd;
  border: 2px solid #de3f3b;
  box-shadow: 0px 0px 25px -10px #de3f3b inset;
  padding: 15px;
}

.ban-box a {
  font-weight: bold;
}

.popover {
  position: absolute;
  box-shadow: 2px 2px 5px #0007;
  z-index: 10;
}

.box-shadow {
  box-shadow: 2px 2px 5px #0007;
}

.panel {
  background-color: #ffd;
  border: 1px solid #777;
  font-size: 0.6875rem;
  padding: 6px;
}

.motd {
  margin: 12px;
  text-align: center;
}

.motd .xbutton {
  float: right;
}

.notification-icon {
  margin-right: 5px;
  float: left;
}

.popover.notification-menu {
  right: 0px;
  word-wrap: anywhere;
}

.super-secret {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 999;
}

.link-button {
  background-color: #eee;
  color: #444;
  border: 1px solid #aaa;
  font-size: 0.5625rem;
  font-weight: 700;
  margin: 0 4px 4px;
  padding: 2px 10px;
}

.link-button:hover {
  background-color: #ffa;
  color: #222;
  text-decoration: none;
}

.link-button.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.link-button.disabled:hover {
  background-color: #eee;
  color: #444;
}

table tr.error-row td {
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.nowrap {
  white-space: pre;
}

.w-0 {
  width: 0;
}

.d-flex-justify {
  display: flex;
  justify-content: space-between;
}

dl {
  margin-left: 10px;
}