.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendarday {
    width: calc(14.25% - 5px);
    min-width: min-content;
    height: 140px;
    border: 1px solid #444;
    background-color: #e5e7ea;
}

.calendarday.extra {
    background-color: #c9cbce;
}

.calendarday.active {
    background-color: #d8eaff;
}

.calendarday.today.today {
    background-color: #eeffbb;
}

.calendarevent {
    background-color: #28f;
    color: #fff;
    padding: 4px;
    margin-top: 2px;
}

.calendarevent .title, .calendarday .day {
    cursor: pointer;
}

.calendarday .day {
    margin: 4px;
}

.calendarevent .popover {
    color: #000;
}

.calendarevent .popover p:not(:last-child) {
    margin-bottom: 12px;
}

.calendarhead {
    text-align: center;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
}

.calendarhead .cur {
    font-size: 2rem;;
    margin-left: 24px;
    margin-right: 24px;
    min-width: 280px;
    display: inline-block;
    box-sizing: border-box;
}