/* Eh just copy paste the bottom half into the top half and replace .theme-dark with .theme-default */
@media (prefers-color-scheme: dark) {
	.theme-default {
		background-image: none;
		background-color: #1b1b1b;
		color: #ccc;
		content: "dark";
	}

	.theme-default .footer {
		background-color: #111 !important;
		color: #bababa;
	}

	.theme-default .footer a {
		color: #bababa;
	}

	.theme-default .footer .small a {
		color: #bababa;
	}

	.theme-default .header a {
		color: #bababa;
	}

	.theme-default .header {
		background-image: none;
		background-color: #252525;
	}

	.theme-default .header .gradient {
		visibility: hidden;
	}

	.theme-default .header .logo:not(.dont-hassel-the-hoff) {
		filter: invert(1) hue-rotate(180deg) brightness(0.25) saturate(6);
	}

	.theme-default .header .title {
		text-shadow: none;
	}

	.theme-default .content-inner tbody tr {
		background-color: #323232;
	}

	.theme-default .content-inner tbody tr.pinned {
		background-color: #572121;
	}

	.theme-default tr.pinned .subforum-lastpost, .theme-default tr.pinned td.thread-icon, .theme-default tr.pinned .thread-lastpost, .theme-default tr.pinned .thread-views {
		background-color: #572121;
	}

	.theme-default .subforum-lastpost, .theme-default td.thread-icon, .theme-default .thread-lastpost, .theme-default .thread-views {
		background-color: rgba(1, 1, 1, 0.1);
	}

	.theme-default .thread-entry.new {
		animation: red-fade 2s ease-in 1;
	}

	.theme-default .content-inner tbody td {
		border-bottom: 1px solid #282828;
		border-right: 1px solid #282828;
	}

	.theme-default a {
		color: #0cf;
	}

	.theme-default .small {
		color: #818181;
	}

	.theme-default .small a {
		color: #0cf;
	}

	.theme-default .thread-title {
		color: #ccc;
	}

	.theme-default .thread-username a {
		color: #a1a1a1;
	}

	.theme-default .content-inner thead {
		background-color: #4b4b4b;
	}

	.theme-default .thread-entry .unread {
		background-color: #4b4b4b;
		border: none;
	}

	.theme-default .new-thread {
		background-color: #323232;
		border: none;
	}

	.theme-default .pagination span {
		background-color: #2a2a2a;
		border: none;
	}

	.theme-default .pagination span.selected {
		background-color: #323232;
	}

	.theme-default .pagination span:first-of-type {
		background-color: #2a2a2a;
	}

	.theme-default .pagination span:first-of-type a {
		color: #06c;
	}

	.theme-default .pagination span a {
		color: #06c;
	}

	.theme-default .pagination span.selected a {
		color: #00adee;
	}

	.theme-default .content-inner thead {
		color: #ccc;
		background-color: #252525;
	}

	.theme-default .subforum-title {
		color: #ccc;
	}

	.theme-default .thread-head {
		background-color: #252525;
		border: none;
		margin-bottom: 5px;
	}

	.theme-default .post-bottom {
		background: #181818;
	}

	.theme-default .post-bottom.new {
		background: #181818;
		border-left: 2px solid rgb(0, 173, 238);
	}

	.theme-default .post-bottom.own {
		background: #181818;
		border-left: 2px solid rgb(255, 216, 23);
	}

	.theme-default .newpunch.post-bottom {
		background: #181818;
	}

	.theme-default .newpunch.post-bottom.new {
		background: #181818;
		border-left: 2px solid rgb(0, 173, 238);
	}

	.theme-default .newpunch.post-bottom.own {
		background: #181818;
		border-left: 2px solid rgb(255, 216, 23);
	}

	.theme-default .post-top {
		background-color: #252525;
		border: none;
	}

	.theme-default .post-li {
		border: none;
	}

	.theme-default .thread-head .reply, .theme-default .thread-head .subscribe {
		color: #bcbcbc;
	}

	.theme-default .post-body .quote .message {
		background-color: #292929;
	}

	.theme-default .post-body .quote .info {
		background-color: #303030;
	}

	.theme-default .post-body .quote {
		border: 1px solid #353535;
	}

	.theme-default .post-body .quote .info a {
		color: #a9a9a9;
	}

	.theme-default .quick-reply {
		background-color: #323232;
	}

	.theme-default textarea, .theme-default .reply-box textarea {
		background-color: #252525;
		color: #ccc;
		border: none;
	}

	.theme-default .table-content {
		background-color: transparent;
	}

	.theme-default .table-content {
		background-color: transparent;
	}

	.theme-default .content-inner table {
		background-color: #323232;
	}

	.theme-default .member-summary {
		background-color: #292929;
	}

	.theme-default .panel {
		background-color: #353535;
		color: #ccc;
	}

	.theme-default .ban-box {
		background-color: #353535;
	}

	.theme-default hr {
		border: 1px solid #4b4b4b;
	}

	.theme-default .member-summary dt, .theme-default .member-tabs dt {
		color: #a9a9a9;
	}

	.theme-default .member-summary li a {
		color: #a9a9a9;
	}

	.theme-default .member-summary li a:hover {
		color: #ccc;
	}

	.theme-default .member-content, .theme-default .usercp-content {
		background-color: #252525;
	}

	.theme-default input {
		background-color: #454545;
		color: #b6b6b6;
		border: 1px solid #282828;
	}

	.theme-default button {
		background-color: #454545;
		color: #b6b6b6;
		border: 1px solid #282828;
	}

	.theme-default button:disabled {
		opacity: 0.5;
	}

	.theme-default select {
		background-color: #454545;
		color: #b6b6b6;
		border: 1px solid #282828;
	}

	.theme-default .link-button {
		background-color: #4a4a4a;
		border: none;
		color: #b6b6b6;
	}

	.theme-default .link-button.disabled:hover {
		background-color: #4a4a4a;
		color: #b6b6b6;
	}

	.theme-default .usercp-tabs .tab a, .theme-default .member-tabs .tab a {
		background-color: #252525;
		color: #b6b6b6;
	}

	.theme-default .usercp-tabs .tab.selected a, .theme-default .member-tabs .tab.selected a {
		background-color: #353535;
	}

	.theme-default .blue-header {
		background-color: #4b4b4b;
	}

	.theme-default .block {
		color: #ccc;
		background-color: #111;
	}

	.theme-default .blockhead {
		background: linear-gradient(to bottom, #bd0000, #971313);
	}

	.theme-default .menu-item.disabled {
		background-color: #444;
	}

	.theme-default .menu-item.active {
		background-color: #77671d;
	}

	.theme-default .inbox-message a {
		color: #ccc;
	}

	.theme-default .blockhead a {
		color: #ccc;
	}

	.theme-default .content-inner .ticker-table tr.alt {
		background-color: #222;
	}

	.theme-default .calendar .calendarday {
		background-color: #e5e7ea40;
	}

	.theme-default .calendar .calendarday.extra {
		background-color: #c9cbce30;
	}

	.theme-default .calendar .calendarday.active {
		background-color: #d8eaff70;
	}

	.theme-default .calendar .calendarday.today {
		background-color: #eeffbb60;
	}
}

.theme-dark {
	background-image: none;
	background-color: #1b1b1b;
	color: #ccc;
	content: "dark";
}

.theme-dark .footer {
	background-color: #111 !important;
	color: #bababa;
}

.theme-dark .footer a {
	color: #bababa;
}

.theme-dark .footer .small a {
	color: #bababa;
}

.theme-dark .header a {
	color: #bababa;
}

.theme-dark .header {
	background-image: none;
	background-color: #252525;
}

.theme-dark .header .gradient {
	visibility: hidden;
}

.theme-dark .header .logo:not(.dont-hassel-the-hoff) {
	filter: invert(1) hue-rotate(180deg) brightness(0.25) saturate(6);
}

.theme-dark .header .title {
	text-shadow: none;
}

.theme-dark .content-inner tbody tr {
	background-color: #323232;
}

.theme-dark .content-inner tbody tr.pinned {
	background-color: #572121;
}

.theme-dark tr.pinned .subforum-lastpost, .theme-dark tr.pinned td.thread-icon, .theme-dark tr.pinned .thread-lastpost, .theme-dark tr.pinned .thread-views {
	background-color: #572121;
}

.theme-dark .subforum-lastpost, .theme-dark td.thread-icon, .theme-dark .thread-lastpost, .theme-dark .thread-views {
	background-color: rgba(1, 1, 1, 0.1);
}

.theme-dark .thread-entry.new {
	animation: red-fade 2s ease-in 1;
}

.theme-dark .content-inner tbody td {
	border-bottom: 1px solid #282828;
	border-right: 1px solid #282828;
}

.theme-dark a {
	color: #0cf;
}

.theme-dark .small {
	color: #818181;
}

.theme-dark .small a {
	color: #0cf;
}

.theme-dark .thread-title {
	color: #ccc;
}

.theme-dark .thread-username a {
	color: #a1a1a1;
}

.theme-dark .content-inner thead {
	background-color: #4b4b4b;
}

.theme-dark .thread-entry .unread {
	background-color: #4b4b4b;
	border: none;
}

.theme-dark .new-thread {
	background-color: #323232;
	border: none;
}

.theme-dark .pagination span {
	background-color: #2a2a2a;
	border: none;
}

.theme-dark .pagination span.selected {
	background-color: #323232;
}

.theme-dark .pagination span:first-of-type {
	background-color: #2a2a2a;
}

.theme-dark .pagination span:first-of-type a {
	color: #06c;
}

.theme-dark .pagination span a {
	color: #06c;
}

.theme-dark .pagination span.selected a {
	color: #00adee;
}

.theme-dark .content-inner thead {
	color: #ccc;
	background-color: #252525;
}

.theme-dark .subforum-title {
	color: #ccc;
}

.theme-dark .thread-head {
	background-color: #252525;
	border: none;
	margin-bottom: 5px;
}

.theme-dark .post-bottom {
	background: #181818;
}

.theme-dark .post-bottom.new {
	background: #181818;
	border-left: 2px solid rgb(0, 173, 238);
}

.theme-dark .post-bottom.own {
	background: #181818;
	border-left: 2px solid rgb(255, 216, 23);
}

.theme-dark .newpunch.post-bottom {
	background: #181818;
}

.theme-dark .newpunch.post-bottom.new {
	background: #181818;
	border-left: 2px solid rgb(0, 173, 238);
}

.theme-dark .newpunch.post-bottom.own {
	background: #181818;
	border-left: 2px solid rgb(255, 216, 23);
}

.theme-dark .post-top {
	background-color: #252525;
	border: none;
}

.theme-dark .post-li {
	border: none;
}

.theme-dark .thread-head .reply, .theme-dark .thread-head .subscribe {
	color: #bcbcbc;
}

.theme-dark .post-body .quote .message {
	background-color: #292929;
}

.theme-dark .post-body .quote .info {
	background-color: #303030;
}

.theme-dark .post-body .quote {
	border: 1px solid #353535;
}

.theme-dark .post-body .quote .info a {
	color: #a9a9a9;
}

.theme-dark .quick-reply {
	background-color: #323232;
}

.theme-dark textarea, .theme-dark .reply-box textarea {
	background-color: #252525;
	color: #ccc;
	border: none;
}

.theme-dark .table-content {
	background-color: transparent;
}

.theme-dark .table-content {
	background-color: transparent;
}

.theme-dark .content-inner table {
	background-color: #323232;
}

.theme-dark .member-summary {
	background-color: #292929;
}

.theme-dark .panel {
	background-color: #353535;
	color: #ccc;
}

.theme-dark .ban-box {
	background-color: #353535;
}

.theme-dark hr {
	border: 1px solid #4b4b4b;
}

.theme-dark .member-summary dt, .theme-dark .member-tabs dt {
	color: #a9a9a9;
}

.theme-dark .member-summary li a {
	color: #a9a9a9;
}

.theme-dark .member-summary li a:hover {
	color: #ccc;
}

.theme-dark .member-content, .theme-dark .usercp-content {
	background-color: #252525;
}

.theme-dark input {
	background-color: #454545;
	color: #b6b6b6;
	border: 1px solid #282828;
}

.theme-dark button {
	background-color: #454545;
	color: #b6b6b6;
	border: 1px solid #282828;
}

.theme-dark button:disabled {
	opacity: 0.5;
}

.theme-dark select {
	background-color: #454545;
	color: #b6b6b6;
	border: 1px solid #282828;
}

.theme-dark .link-button {
	background-color: #4a4a4a;
	border: none;
	color: #b6b6b6;
}

.theme-dark .link-button.disabled:hover {
	background-color: #4a4a4a;
	color: #b6b6b6;
}

.theme-dark .usercp-tabs .tab a, .theme-dark .member-tabs .tab a {
	background-color: #252525;
	color: #b6b6b6;
}

.theme-dark .usercp-tabs .tab.selected a, .theme-dark .member-tabs .tab.selected a {
	background-color: #353535;
}

.theme-dark .blue-header {
	background-color: #4b4b4b;
}

.theme-dark .block {
	color: #ccc;
	background-color: #111;
}

.theme-dark .blockhead {
	background: linear-gradient(to bottom, #bd0000, #971313);
}

.theme-dark .menu-item.disabled {
	background-color: #444;
}

.theme-dark .menu-item.active {
	background-color: #77671d;
}

.theme-dark .inbox-message a {
	color: #ccc;
}

.theme-dark .blockhead a {
	color: #ccc;
}

.theme-dark .content-inner .ticker-table tr.alt {
	background-color: #222;
}

.theme-dark .calendar .calendarday {
	background-color: #e5e7ea40;
}

.theme-dark .calendar .calendarday.extra {
	background-color: #c9cbce30;
}

.theme-dark .calendar .calendarday.active {
	background-color: #d8eaff70;
}

.theme-dark .calendar .calendarday.today {
	background-color: #eeffbb60;
}
