.thread-entry .thread-info .thread-pagelinks a {
  padding: 0.5ch;
}

.thread-entry .thread-info {
  width: 100%;
}

.thread-entry .thread-rating {
  float: right;
  font-size: 0.6875rem;
  color: #777;
  padding-top: 13px;
}

.thread-entry:not(.read) .thread-info .thread-title {
  font-weight: bold;
}

.thread-entry.locked {
  background-color: #eee;
}

.thread-entry.locked .thread-lastpost {
  background-color: inherit;
}

.thread-entry.locked .thread-views {
  background-color: inherit;
}

.thread-entry.locked .thread-icon {
  background-color: inherit;
}

.thread-entry.pinned {
  background-color: #ffa;
}

.thread-entry .thread-username {
  color: #666;
  padding-top: 4px;
}

.thread-entry .thread-username .dot {
  color: #ddd;
}

.thread-entry .thread-username .thread-tag {
  background-color: #28f;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  opacity: 0.6;
}

.thread-entry .thread-username .thread-tag:hover {
  opacity: 1.0;
}

.thread-entry .thread-username .thread-tag.active {
  opacity: 1.0;
}

.thread-entry .thread-username .thread-tag.active:hover {
  opacity: 0.6;
}

.thread-entry .thread-username .viewers {
  color: #88a;
}

.thread-entry td.thread-icon {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 6px;
}

.thread-entry .thread-lastpost {
  background-color: rgba(0, 0, 0, 0.04);
  text-align: right;
  width: 150px;
  min-width: max-content;
}

.thread-entry .thread-replies {
  text-align: center;
  width: 40px;
}

.thread-entry .thread-views {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.04);
  width: 40px;
}

.thread-entry td {
  border-bottom: 1px solid #ccc;
  min-height: 40px;
  padding: 6px;
}

.thread-icon {
  width: 72px;
  text-align: center;
}

.thread-entry .unread {
  background-color: #ffa;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  white-space: nowrap;
}

.thread-entry .unread .icon {
  vertical-align: -3px;
  margin-right: 2px;
  filter: hue-rotate(128deg) saturate(10);
}

.thread-entry .images-link .icon {
  vertical-align: -3px;
}

.thread-entry.load-more {
  height: 44px;
}

.new-thread {
  background-color: #28f;
  color: #fff;
  padding: 5px;
  border: 1px solid #777;
  top: 10px;
  display: inline-block;
}

@keyframes yellow-fade {
  0% {
    background-color: #ffa;
    pointer-events: none;
  }
  100% {
    background-color: unset;
    pointer-events: unset;
  }
}

@keyframes red-fade {
  0% {
    background-color: #572121;
    pointer-events: none;
  }
  100% {
    background-color: unset;
    pointer-events: unset;
  }
}

.thread-entry.new {
  animation: yellow-fade 2s ease-in 1;
}
