.subforum-entry .subforum-info {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 32px;
  padding-left: 48px;
}

.subforum-info .subforum-viewcount {
  color: #4e4e4e;
}

.subforum-info .subforum-description {
  color: #777;
}

.subforum-info .subforum-title {
  font-weight: bold;
}

.subforum-entry .subforum-lastpost {
  background-color: #f5f5f5;
  max-width: 150px;
  overflow: hidden;
  text-align: right;
  padding: 6px;
}

.subforum-entry .subforum-lastpost .thread-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}

.subforum-entry .subforum-lastpost .thread-lastpost {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}

.avatar-thumb {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 5px;
}

.avatar-thumb object, .avatar-thumb img {
  width: 32px;
  height: 32px;
}

.content-inner thead .category-title td {
  font-size: 1rem;
  padding: 5px;
}

.content-inner table.table-left {
  width: calc(50% - 6px);
}

.content-inner table.table-right {
  width: calc(50% - 6px);
  float: right;
}

.content-inner .stats {
  text-align: center;
  color: #555;
  margin: 20px;
  margin-bottom: 10px;
}

.thread-advert {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.thread-advert a {
  display: inline-block;
}