.content-inner .event-entry .event {
  margin-left: 20px;
  font-size: 0.6875rem;
}

.content-inner .event-entry p {
  margin-bottom: 10px;
}

.content-inner .event-entry .event a {
  font-weight: bold;
}

.content-inner .event-entry .event-time {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-inner .event-entry .icon {
  float: left;
  padding-right: 5px;
}

.content-inner tr td {
  padding-left: 20px;
  padding-right: 20px;
}

.content-inner .ticker-time {
  font-weight: bold;
}

.content-inner .ticker-table {
  font-size: 0.6875rem;
}

.content-inner .ticker-table tr {
  min-height: 19px;
}

.content-inner .ticker-table tr.alt {
  background-color: #f0f0f0;
}

.content-inner .ticker-table tbody td {
  border-bottom: none;
}

.content-inner .ticker-table .right-align {
  width: 100%;
  text-align: right;
}

.content-inner .ticker-table .right-align > .content {
  background-color: #f0f0f0;
  text-align: right;
}