.member-summary {
  width: 216px;
  float: left;
  background-color: #e8e8e8;
  border: 1px solid #888;
  padding: 12px;
  margin-top: -3px;
}

.profile-header {
  max-height: min(320px, 22.2222vw);
  overflow: hidden;
  align-items: center;
  display: flex;
}

.profile-header img {
  width: 100%;
  z-index: -1;
  position: relative;
}

.member-tabs {
  margin-left: 260px;
  margin-top: -29px;
}

.member-content {
  background-color: #e8e8e8;
  border: 1px solid #888;
  padding: 10px;
}

.member-avatar {
  display: flex;
  justify-content: center;
}

.member-tabs .tabs {
	padding-left: 20px;
	overflow: hidden;
}

.member-tabs .tab {
  float: left;
}

.member-tabs .tab a {
  font-size: 0.625rem;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  min-width: 55px;
  height: 25px;
  line-height: 25px;
  display: block;
  border: 1px solid #888;
  background-color: #ccc;
  margin-left: -1px;
  margin-bottom: -1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 11px;
}

.member-tabs .tab.selected a {
	background-color: #e8e8e8;
}

.blue-header {
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
  text-shadow: 0 0 5px rgba(0,0,0,.3);
  background-color: #28f;
  padding: 10px 50px 10px 15px;
}

.member-summary dl {
  margin: 0px;
}

.member-summary dt {
  display: inline-block;
  width: 100px;
  color: #444;
}

.member-tabs dt {
  display: inline-block;
  width: 250px;
  color: #444;
}

.member-summary dd, .member-tabs dd {
  display: inline-block;
  margin-left: 0px;
  color: #666;
}

.member-summary li {
  list-style: none;
}

.member-summary li a, .member-summary li a:hover {
  color: #444;
}

.member-summary ul {
  padding-left: 0px;
}

.member-summary :not(.rating) .icon {
  vertical-align: middle;
  margin-right: 5px;
  filter: invert(1) grayscale(1) brightness(1.5);
}

.member-summary :not(.rating) .icon.ignore {
  filter: grayscale(1) brightness(0.7) contrast(1.6);
}

.member-summary :not(.rating) .icon.sendpm {
  filter: grayscale(1) brightness(0.9) contrast(2) brightness(0.9);
}

.member-summary .member-menu li {
  margin: 4px 0;
}

.member-ratings {
  color: #777;
}

.member-ratings .rating {
  margin-bottom: 2px;
}

.member-ratings .rating .icon {
  filter: none;
}

.about-me {
  white-space: pre-wrap;
}