.page-title {
	font-size: 0.875rem;
	font-weight: bold;
	color: #444;
}

.block {
	background-color: #eee;
	color: #444;
}

.blockbody {
	margin: 5px 10px;
}

.blockhead {
	background: linear-gradient(to bottom, #4b82ff, #2568ff);
	color: white;
	font-size: 0.75rem;
	padding: 4px 10px;
}

.blockhead a {
	color: white;
	text-decoration: underline;
}

table.smilies tr td {
	text-align: center;
	padding: 10px;
	border-bottom: solid 1px #cedfeb;
}

table.smilies thead {
	background-color: #ccc;
	color: #3e3e3e;
}

table.smilies tbody {
	background-color: #eee;
}