.reply-box textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  background-color: white;
  font-family: Tahoma, Helvetica, Arial, Verdana;
  font-size: 0.8333rem;
  color: #000000;
}

.reply-buttons {
  margin: 10px;
  text-align: center;
}

.table-content {
  padding: 10px;
}

.reply-box .icon {
  margin-left: 5px;
  margin-right: 5px;
}

.icon.icon-youtube {
  filter: saturate(100) hue-rotate(225deg);
}

.icon.icon-vimeo {
  filter: saturate(100) hue-rotate(90deg);
}

.icon.icon-twitter {
  filter: hue-rotate(225deg) brightness(1.5);
}

.icon.icon-spotify {
  filter: hue-rotate(90deg);
}

.icon.icon-soundcloud {
  filter: hue-rotate(150deg) saturate(2);
}

.icon.icon-twitch {
  filter: hue-rotate(45deg);
}
