.content-inner .gsc-control-cse, .content-inner .gsc-search-box, .content-inner .gsc-above-wrapper-area-container {
  background-color: #1F2C39;
  border-color: #1F2C39;
}

.content-inner .gsc-results .gsc-cursor .gsc-cursor-page {
  background-color: rgb(31, 44, 57);
  color: rgb(255, 255, 255);
}

.content-inner .gsc-input, .content-inner .gsc-above-wrapper-area, .content-inner .gsc-control-cse table td {
	border: none;
}