body.custom-bg {
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

body.custom-bg.custom-tiled {
  background-size: unset;
  background-repeat: repeat; 
}

body.custom-bg::after {
  content: "";
  z-index: -1000;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.thread-head {
  background-color: #2288ff;
  color: white;
  font-weight: bold;
  font-size: 0.9167rem;
  height: 30px;
  width: 100%;
  border: 1px solid #666;
  box-sizing: border-box;
  padding: 5px 10px;
}

.thread-head .reply {
  float: left;
  color: white;
}

.thread-head .subscribe {
  float: right;
  color: white;
}

.thread-head.foot {
  border-top: none;
}

.post-li {
  border: 1px solid #888;
  border-top: none;
  list-style: none;
}

.post-list {
  padding: 0;
  margin: 0;
}

.post-info {
  float: left;
  width: 230px;
  height: 100%;
  z-index: 1;
  justify-content: center;
}

.post-username {
  padding: 8px;
}

/* POST LAYOUT STUFF */

.post-top {
  background-color: #ccc;
  line-height: 15px;
  padding: 3px;
  vertical-align: middle;
  border-bottom: 1px solid #777;
}

.post-bottom {
  min-height: 200px;
  display: flex;
  flex-direction: row;
}

.post-bottom.collapsed {
  min-height: 0px;
}

.user-pane {
  padding: 80px 1px 60px 0px;
  width: 230px;
  min-width: 230px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.post-bottom:not(.newpunch) .user-pane {
  padding: 8px 8px 40px 8px;
  min-width: 140px;
  width: 140px;
}

.post-bottom:not(.newpunch):not(.no-avatar) .user-info {
  margin-top: 20px;
}

.post-bottom:not(.newpunch) .user-info .user-images {
  margin-top: -35px;
  margin-bottom: -15px;
}

.post-bottom:not(.newpunch) .user-name-text {
  font-size: 0.8333rem;
  white-space: nowrap;
}

.post-bottom .user-pronouns {
  white-space: nowrap;
  z-index: 2;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom:not(.newpunch) .user-pronouns {
  text-shadow: none;
}

.post-bottom.newpunch .user-pronouns {
  color: #ccc;;
}

.post-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.post-bottom {
  background: linear-gradient(to right, #e5e7ea, #fff 400px);
}
.post-bottom.new {
  background: linear-gradient(to right, #d8eaff, #fff 400px);
}
.post-bottom.own {
  background: linear-gradient(to right, #eeffbb, #fff 400px);
}

.newpunch.post-bottom {
  background: linear-gradient(to right, #e5e7ea 90px, #fff 490px);
}
.newpunch.post-bottom.new {
  background: linear-gradient(to right, #d8eaff 90px, #fff 490px);
}
.newpunch.post-bottom.own {
  background: linear-gradient(to right, #eeffbb 90px, #fff 490px);
}

.post-body .content {
  flex-grow: 1;
  padding: 10px;
  white-space: pre-wrap;
  overflow-x: auto;
}

.post-body .content .post-hidden {
  margin: 20px;
}

.post-body .ratings {
  font-size: 0.6875rem;
  color: #777;
  padding-left: 6px;
}

.post-body .rating {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.post-body .ratings-list-button {
  color: #777;
}

.popover.ratings-list {
  padding: 0px;
  margin-top: 14px;
  display: flex;
}

.ratings-list .ratings-list-column {
  outline: 1px dashed #777;
  outline-offset: -5px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-body .rating-buttons {
  float: right;
}

.post-body .rating-buttons .rating {
  margin-right: 5px;
  opacity: 0;
}

.post-body:hover .rating-buttons .rating {
  opacity: 0.5;
}

.post-body:focus-within  .rating-buttons .rating {
  opacity: 0.5;
}

.post-body:hover .rating-buttons .rating:hover {
  opacity: 1;
}

.post-body .reply-button, .post-body .edit-button {
  float: right;
}

.post-number {
  text-align: right;
  float: right;
}

.post-footer {
  background: linear-gradient(90deg, rgba(229,231,234,1) 0%, rgba(255,255,255,1) 400px);
  padding-top: 50px;
}

.ratings .icon {
  float: left;
}

.rating .icon[title="Sad"] {
  filter: hue-rotate(180deg) brightness(1.1);
}

.rating .icon[title="Confusing"] {
  filter: hue-rotate(60deg);
}

.ratings .rating a {
  display: inline-block;
  vertical-align: middle;
}

.post-top .icon {
  float: left;
}

.user-info, .user-info .user-images {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0px;
}

.user-info > :not(.user-images) {
  z-index: 2;
}

.user-info .user-images .user-avatar {
  position: relative;
  z-index: 2;
}

.user-info .user-images .spacer {
  width: 115px;
  height: 0px;
}

.user-info .user-images {
  margin-bottom: 8px;
  min-height: 115px;
  min-width: 115px;
}

.post-bottom:not(.newpunch) .user-images {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  transform: scale(calc(80 / 115), calc(80 / 115));
}

.post-bottom.goldpunch .user-images, .post-bottom.oldpunch:not(.user-role-limited-user):not(.user-role-basic-user) .user-images {
  height: 230px;
  margin-bottom: -35px;
}

.post-bottom:not(.newpunch) .user-images .background-container {
  width: 230px;
  min-width: 230px;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  top: -80px;
  bottom: 0px;
}

.user-avatar img {
  max-width: 115px;
  max-height: 100%;
  display: block;
}

.user-avatar.banned {
  width: 115px;
  color: #f00;
  font-family: Impact;
  font-size: 4.4375rem;
}

.post-bottom .user-name-text {
  text-align: center;
  font-size: 0.8438rem;
  margin-bottom: 10px;
}

.user-name-text.shadow {
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom .user-joined {
  font-size: 10.7813rem;
  margin-top: 8px;
}

.post-bottom.newpunch .user-joined {
  color: white;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom.newpunch .user-title {
  margin-top: 1ex;
  color: #ccc;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom:not(.newpunch) .user-joined {
  font-size: 0.625rem;
}

.post-bottom .user-joined {
  font-size: 0.7813rem;
  margin-top: 8px;
}

.post-bottom.newpunch .user-posts {
  color: white;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom:not(.newpunch) .user-posts {
  font-size: 0.625rem;
}

.background-container {
  font-size: 0.7813rem;
  color: white;
  z-index: 0;
}

.background-gradient {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  opacity: 1;
  transition: opacity 750ms ease-in-out 200ms;
  background-image: linear-gradient(rgba(46, 46, 46, 0.35) 350px, rgb(46, 46, 46) 460px, rgb(23, 23, 23) 100%);
  z-index: 1;
  pointer-events: none;
}

.background-image {
  position: absolute;
  max-height: 460px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
}

.no-outline {
  outline: none;
}

.post-body .content img, .post-body .content video {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.post-body .content .quote img, .post-body .content .quote video {
  max-width: 500px;
  max-height: 300px;
}

.post-body .content .quote .thumb-overlay img {
  max-width: 100%;
  max-height: unset;
}

.post-body .content img.thumb {
  max-width: 500px;
  max-height: 300px;
  border: 1px dotted rgba(0, 0, 0, 0.5);
}

.post-body .content div.thumb {
  display: inline-block;
  overflow: hidden;
}

.thumb-overlay {
  position: fixed;
  z-index: 20;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: auto;
}

.thumb-overlay a {
  margin: auto;
}

.post-body .content a {
  color: #38d;
  text-decoration: underline;
}

.post-body .content a:hover {
  color: #14f;
}

.post-body ul {
  list-style-type: disc;
}

.post-body ul ul {
  list-style-type: circle;
}

.post-body ul ul ul {
  list-style-type: square;
}

.post-body code.code {
  background-color: #fffa;
  display: inline-block;
}

.post-body .quote {
  border: 1px solid #888;
  border-radius: 2px;
  margin: 10px;
  max-width: max-content;
}

.post-body .content.nopyramid .quote .quote {
  display: none;
}

.post-body .quote .info {
  background-color: #ace;
  padding: 4px;
}

.post-body .quote .info a {
  font-size: 0.75rem;
  color: #05a;
  font-weight: 700;
  text-decoration: none;
}

.post-body .quote .info a:hover {
  text-decoration: underline;
}

.post-body .quote .message {
  background-color: #bdf;
  font-size: 0.6875rem;
  padding: 10px;
}

.post-body .block-quote {
  border: 1px solid #888;
  border-radius: 2px;
  margin: 10px;
  max-width: max-content;
}

.post-body .block-quote .message {
  background-color: #bdf;
  font-size: 0.6875rem;
  padding: 10px;
}

.post-body .youtube {
  width: 960px;
  max-width: 100%;
  margin: auto;
  position: relative;
  display: block;
  cursor: pointer;
}

.post-body .quote .youtube {
  width: 427px;
  height: 240px;
  display: inline-block;
}

.post-body .youtube iframe, .post-body .youtube object, .post-body .youtube img {
  width: 960px;
  height: 540px;
  max-width: 100%;
  object-fit: cover;
}

.post-body .quote .youtube iframe, .post-body .quote .youtube object, .post-body .quote .youtube img {
  width: 427px;
  height: 240px;
}

.post-body .content .youtube .title {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 60px;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.post-body .youtube .title .title-link {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
}

.post-body .youtube .title .time {
  opacity: 0.5;
}

.post-body .strawpoll {
  width: 100%;
  max-width: 680px;
  height: 510px;
  border: 0;
}

.post-body .vimeo {
  width: 960px;
  max-width: 100%;
  height: 540px;
  border: 0;
  margin: auto;
  display: block;
}

.post-body .quote .vimeo {
  width: 427px;
  height: 240px;
  display: inline-block;
}

.post-body .code {
  font-family: monospace;
}

.post-body .unknown {
  background-color: red;
  min-height: 5px;
  min-width: 5px;
}

.post-body .ban-text {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}

.post-body .content img {
  min-width: 16px;
}

.quick-reply {
  background-color: #eee;
  padding: 15px 20%;
}

.rate-message {
  font-weight: bold;
  opacity: 0.7;
}

.user-pane-bottom {
  position: absolute;
  z-index: 3;
  left: 3px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.user-pane-bottom > * {
  opacity: 0.8;
  margin-right: 3px;
}

.user-pane-bottom > *:hover {
  opacity: 1;
}

.user-pane-bottom > img {
  padding-bottom: 3px;
}

.popover.report-menu {
  margin-top: 6px;
  z-index: 11;
}

.popover.events-menu {
  margin-top: 6px;
  z-index: 10;
}

.popover.events-menu .event-entry:first-child .event-time {
  margin-top: 0px;
}

.popover.rename-menu {
  margin-top: 6px;
  z-index: 11;
  right: 18px;
}

.popover.rename-menu input {
  width: 400px;
}

.report-menu input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.post-body .content .twitch {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  max-width: 960px;
}

.post-body .content .twitch::after {
  content: "";
  display: table;
  clear: both;
}

.post-body .content .twitch::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0px;
  padding-top: calc(56.25%);
}

.post-body .content .twitch iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.user-pane .user-joined img {
  margin-left: 4px;
}

.social-icons {
  margin-top: 4px;
  text-align: center;
}

.social-icons img {
  margin-left: 1px;
  margin-right: 1px;
}

.post-bottom .profile-bio {
  overflow: hidden;
  text-align: center;
}

.newpunch.post-bottom .profile-bio {
  color: white;
  width: 66%;
  text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
}

.post-bottom:not(.newpunch) .profile-bio {
  font-size: 0.625rem;
}
