.usercp-content {
  background-color: #e8e8e8;
  border: 1px solid #888;
  padding: 10px;
}

.usercp-tabs .tabs {
	padding-left: 20px;
	overflow: hidden;
}

.usercp-tabs .tab {
  float: left;
}

.usercp-tabs .form-label {
  font-weight: bold;
  float: left;
  width: 160px;
}

.usercp-tabs .tab a {
  font-size: 0.625rem;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  min-width: 55px;
  height: 25px;
  line-height: 25px;
  display: block;
  border: 1px solid #888;
  background-color: #ccc;
  margin-left: -1px;
  margin-bottom: -1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 11px;
}

.usercp-tabs .tab.selected a {
	background-color: #e8e8e8;
}

.blue-header {
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
  text-shadow: 0 0 5px rgba(0,0,0,.3);
  background-color: #28f;
  padding: 10px 50px 10px 15px;
}

.usercp-tabs dt {
  display: inline-block;
  width: 250px;
  color: #444;
}

.usercp-tabs dd {
  display: inline-block;
  margin-left: 0px;
  color: #666;
}

.content-inner.usercp {
  margin: 6px;
}

.content-inner.usercp .block {
  margin: 6px;
}

.block.menu {
  background-color: #fff;
}

.menu .menu-item {
  padding: 6px;
}

.menu-item.disabled {
  background-color: #ccc;
}

.menu-item.active {
  background-color: #ffeb90;
}

.blockbody.inbox {
  margin: 0;
}

.inbox-message {
  padding: 12px 6px;
  border-bottom: 1px solid #ccc;
}

.inbox-message .message-title {
  font-weight: bold;
}

.matching-user-list {
  max-height: 100px;
  min-height: 30px;
  width: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
}