.user-name.user-role-basic-user .user-name-text {
    color: rgb(63, 172, 255);
}

.user-name.user-role-banned-user .user-name-text {
    color: rgb(255, 0, 0);
}

.user-name.user-role-gold-user .user-name-text {
    color: rgb(252, 190, 32);
}

.user-name.user-role-paid-gold-user .user-name-text {
    color: rgb(252, 190, 32);
}

.user-name.user-role-moderator .user-name-text {
    color: rgb(65, 255, 116);
}

.user-name.user-group-4 .user-name-text {
    color: rgb(196, 72, 255);
}

.user-name.user-role-admin .user-name-text {
    color: rgb(255, 108, 180);
}

.user-name.user-role-moderator-in-training .user-name-text {
    color: rgb(76, 207, 111);
}

.user-name-text {
    font-weight: bold;
}